# Session data
session_data.ser

# Build directories
*/build/built-jar.properties
*/build/classes/
build/built-jar.properties
build/classes/

# IDE files
nbproject/private/
build.xml.bak
*.iml
.idea/
.vscode/

# Compiled files
*.class

# Log files
*.log
